In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import pandas as pd
from src.classifier import Classifier

In [4]:
train_filename = "data/traindata.csv"
dev_filename = "data/devdata.csv"

df_train = pd.read_csv(train_filename, header=None, sep="\t")
df_dev = pd.read_csv(dev_filename, header=None, sep="\t")

df_train

,0,1,2,3,4
0,positive,AMBIENCE#GENERAL,seating,18:25,short and sweet – seating is great:it's romant...
1,positive,AMBIENCE#GENERAL,trattoria,25:34,This quaint and romantic trattoria is at the t...
2,positive,FOOD#QUALITY,food,98:102,The have over 100 different beers to offer thi...
3,negative,SERVICE#GENERAL,STAFF,5:10,THIS STAFF SHOULD BE FIRED.
4,positive,FOOD#STYLE_OPTIONS,menu,4:8,"The menu looked great, and the waiter was very..."
...,...,...,...,...,...
1498,positive,DRINKS#QUALITY,expresso,29:37,One of us actually liked the expresso - that's...
1499,negative,SERVICE#GENERAL,waitress,20:28,The hostess and the waitress were incredibly r...
1500,positive,RESTAURANT#PRICES,place,12:17,this little place has a cute interior decor an...
1501,positive,RESTAURANT#GENERAL,restaurant,30:40,Nice Family owned traditional restaurant.
1502,positive,AMBIENCE#GENERAL,atmosphere,74:84,"The first time I went, and was completely take..."

In [ ]:
classifier = Classifier(ollama_url="http://localhost:11434")
predictions = classifier.predict(dev_filename, device=None)
print(predictions)